@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');

html, body {
    font-family: "Noto Sans JP", "Inter", sans-serif !important;
}

h1 {
  font-family: "Montserrat", "M PLUS 1p", sans-serif;
}
  
h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
}
  