<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}

  <meta name="author" content="政岡凜太郎">
  <meta name="author" content="Rintaro Masaoka">
  <meta name="keywords" content="政岡凜太郎,, Rintaro Masaoka">
  
</head>
<body>
{{insert sidebar.html}}

<!-- Content appended here -->
